<div>
  <p>name: {{addedChild.name}}</p>
  <p>language: {{addedChild.language}}</p>
  <p>age: {{addedChild.age}}</p>
  <p>gender: {{addedChild.gender}}</p>
  <p>picture :{{addedChild.picture}}<p>
      <ul>
        {{#each parents}}
        <li>`Your match is: Name: {{ this.firstName }}`</li>
        <a href="mailto:{{ this.email }}" class="btn btn-primary">Email the parents of child matched</a>
        {{#each this.child}}
        {{this.name}}
        {{/each}}
        {{/each}}
      </ul>
</div>